.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Wrapper {
  text-align: center;
}

@media only screen and (max-width: 1090px) {
  .Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 1091px) {
  .Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.InputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.PointsGroup
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input {
  padding: 10px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input:hover {
  border-color: #aaa;
}

.InputBlue:focus {
  border-color: #55b3d8;
  box-shadow: 0 0 5px #55b3d8;
}

.InputRed:focus {
  border-color: #f13e3e;
  box-shadow: 0 0 5px #f13e3e;
}

button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 10px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}

.ButtonSection {
  padding: 10px;
}

.CanvasSection
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  border: 1px solid black;
  margin-top: 20px;
}
